<div [formGroup]="parentFormGroup" class="container">
  <div class="form-radio-inline">
    <label class="form-radio-label">
      <input type="radio" class="form-radio-input" formControlName="radioExample" value="water" />Water
    </label>
  </div>
  <div class="form-radio-inline">
    <label class="form-radio-label">
      <input type="radio" class="form-radio-input" formControlName="radioExample" value="milk" />Milk
    </label>
  </div>
  <div class="form-radio-inline">
    <label class="form-radio-label">
      <input type="radio" class="form-radio-input" formControlName="radioExample" value="wine" disabled />Wine
    </label>
  </div>
  <div class="form-radio-inline">
    <label class="form-radio-label">
      <input type="radio" class="form-radio-input" formControlName="radioExample" value="beer" disabled />Beer
    </label>
  </div>
</div>